.signup-header {
    height: 128px;
    text-align: center;
    margin: 0;
    padding: 0;
    background: rgb(245, 245, 245);

    &__logo {
        margin: 40px 0 0;
        padding: 0;
        width: 185px;
        display: inline-block;

        &--link {
            width: 185px;
            height: 49px;
            line-height: 49px;
            display: inline-block;
            ;
            text-decoration: none;

            &--object {
                width: 185px;
                height: 49px;
                vertical-align: middle;
            }
        }
    }

    &-page {
        padding: 40px 0 0 44px;
        border: 0;
        display: inline-block;

        &-bar {
            margin: 0;
            overflow: auto;
            list-style: none;

            &__member-information {
                font-weight: 600;
                color: $warm-red;
                margin: 0 40px 0 0;
                min-width: 60px;
                position: relative;
                ;
                z-index: 1;
                display: inline-block;
                font-size: 12px;

                .progress-state--first {
                    background: $warm-red;
                    width: 12px;
                    height: 12px;
                    margin: 8px auto 0;
                    border-radius: 50%;
                    display: block;

                    &--line {
                        bottom: 5px;
                        left: 50%;
                        position: absolute;
                        z-index: -1;
                        display: block;
                        content: '';
                        width: 100%;
                        height: 2px;
                        background: #ccc;
                    }
                }
            }

            &__phone-number {
                margin: 0 40px 0 0;
                min-width: 60px;
                position: relative;
                z-index: 1;
                display: inline-block;
                color: #888;
                font-size: 12px;

                .progress-state--second {
                    width: 12px;
                    height: 12px;
                    margin: 8px auto 0;
                    background: #ccc;
                    border-radius: 50%;
                    padding: 0;

                    &--line-left {
                        position: absolute;
                        bottom: 5px;
                        right: 50%;
                        z-index: -1;
                        display: block;
                        content: '';
                        width: 100%;
                        height: 2px;
                        background: #ccc;
                    }

                    &--line-right {
                        position: absolute;
                        bottom: 5px;
                        left: 50%;
                        z-index: -1;
                        display: block;
                        content: '';
                        width: 100%;
                        height: 2px;
                        background: #ccc;
                    }
                }
            }

            &__delivery-address {
                margin: 0 40px 0 0;
                min-width: 60px;
                position: relative;
                z-index: 1;
                display: inline-block;
                font-size: 12px;
                color: #888;

                .progress-state--third {
                    width: 12px;
                    height: 12px;
                    margin: 8px auto 0;
                    background: #ccc;
                    border-radius: 50%;


                    &--line-left {
                        bottom: 5px;
                        right: 50%;
                        position: absolute;
                        z-index: -1;
                        display: block;
                        content: '';
                        width: 100%;
                        height: 2px;
                        background: #ccc;
                    }

                    &--line-right {
                        bottom: 5px;
                        left: 50%;
                        position: absolute;
                        z-index: -1;
                        display: block;
                        content: '';
                        width: 100%;
                        height: 2px;
                        background: #ccc;
                    }
                }
            }

            &__payment-method {
                margin: 0 40px 0 0;
                min-width: 60px;
                position: relative;
                z-index: 1;
                display: inline-block;
                font-size: 12px;
                color: #888;

                .progress-state--forth {
                    width: 12px;
                    height: 12px;
                    margin: 8px auto 0;
                    background: #ccc;
                    border-radius: 50%;

                    &--line-left {
                        right: 50%;
                        bottom: 5px;
                        z-index: -1;
                        display: block;
                        content: '';
                        width: 100%;
                        height: 2px;
                        background: #ccc;
                        position: absolute;
                    }

                    &--line-right {
                        left: 50%;
                        bottom: 5px;
                        z-index: -1;
                        content: '';
                        width: 100%;
                        height: 2px;
                        background: #ccc;
                        position: absolute;
                    }
                }
            }

            &__all-end {
                margin: 0;
                min-width: 60px;
                position: relative;
                z-index: 1;
                display: inline-block;
                font-size: 12px;
                color: #888;

                .progress-state--fifth {
                    width: 12px;
                    height: 12px;
                    margin: 8px auto 0;
                    background: #ccc;
                    border-radius: 50%;
                    display: block;

                    &--line {
                        position: absolute;
                        right: 50%;
                        bottom: 5px;
                        z-index: -1;
                        display: block;
                        content: '';
                        width: 100%;
                        height: 2px;
                        background: #ccc;
                    }
                }
            }
        }
    }
}

.signup-main {
    background-color: $background-gray;

    &-footer {
        background-color: #212121;
        color: #ffffff;
        font-size: 14px;
        height: 211px;
        padding-bottom: 40px;
        width: 728px;

        &-banner {
            background-image: url(https://item.mercari.com/jp/assets/img/common/jp/top/download_bg_pc.jpg?82208132);
            background-position: center;
            height: 250px;
            width: 728px;

            &__inner {
                height: 100%;
                margin: 0 auto;
                position: relative;
                width: 53%;

                h2{
                    font-size: 16px;
                    font-weight: bold;
                }

                p{
                    font-size: 32px;
                }
            }
        }
    }

    &-content {
        margin: 0 436px;
        background-color: white;

        &__head {
            color: $thick-gray;
            text-align: center;
            padding: 32px 16px;
            font-size: 22px;
        }

        &__inner {
            border-top: 1px solid #eee;
            padding-top: 40px;

            &-form {
                max-width: 320px;
                margin: 0 auto;
                padding-bottom: 64px;

                &__group:first-child {
                    margin: 0;
                }

                &__group {
                    margin: 40px 0 0;

                    &-center {
                        text-align: center;

                        p {
                            font-weight: bold;
                            font-size: 20px !important;
                        }
                    }

                    label {
                        font-weight: 600;
                        font-size: 14px;
                    }

                    span {
                        background: $warm-red;
                        margin: 0 0 0 8px;
                        padding: 3px 4px;
                        border-radius: 3px;
                        color: $white;
                        font-size: 12px;
                    }

                    &-card {
                        display: flex;

                        img {
                            margin: 3px 3px 0 0;
                        }

                        &-right {
                            text-align: right;
                            padding-bottom: 10px;
                        }
                    }

                    &-inner {
                        width: 89%;
                        height: 38px;
                        padding: 10px 16px 8px;
                        border-radius: 4px;
                        border: 1px solid $form-box-border;
                        background: $white;
                        line-height: 1.5;
                        font-size: 16px;
                        margin: 8px 0 0;
                    }

                    h3 {
                        font-size: 16px;
                        font-weight: bold;
                    }

                    p {
                        margin: 8px 0 0;
                        font-size: 14px;
                    }

                    a{
                        text-decoration: none;
                    }

                    &-right {
                        text-align: right;
                        padding-top: 40px;

                        &__inner {
                            text-decoration: none;
                            color: $lightblue;
                        }
                    }

                    &__select {

                        &__wrap {
                            display: inline-block;
                            position: relative;
                            margin: 8px 0 0;
                            width: 140px;
                            background-color: $white;

                            &-default {
                                @include select-default-style();

                                &-prefecture {
                                    @include select-default-style(320px);
                                }
                            }

                            .icon__arrow--bottom {
                                @include arrow-bottom-icon();

                                &-prefecture {
                                    @include arrow-bottom-icon(-167px);
                                }
                            }

                            &_text {
                                display: inline-block;
                            }
                        }
                    }

                }

                &__text {
                    margin: 8px 0 0;
                    text-align: center;
                    font-size: 14px;
                    padding-bottom: 40px;

                    &-gray {
                        margin: 8px 0 0;
                        text-align: center;
                        font-size: 14px;
                        color: #888;
                    }

                    a {
                        text-decoration: none;
                        color: $lightblue;
                    }

                }

            }

        }
    }
}

.form-arbitrary {
    background: #ccc !important;
}

.fa-question-circle {
    color: $lightblue;
}
