.main-header {
  height: 90px;
  width: 100vw;
}

.header-inner {
  background-color: $white;
  margin: 0 auto;
  width: 70%;

  &__top {
    height: 45px;
    padding-top: 10px;

    &--logo {
      float: left;
      height: 35px;
      width: 134px;
    }
    &--form {
      float: right;
      height: 35px;
      position: relative;
      width: calc(100% - (134px + 15px));

      .input {
        border: 1px solid #ccc;
        border-radius: 4px;
        height: 100%;
        padding: 0 8px;
        position: absolute;
        width: calc(100% - 20px);
        &__search {
          float: right;
          height: 100%;
          position: relative;
          width: 35px;
          visibility: hidden;

          &--btn {
            line-height: 35px;
            position: absolute;
            visibility: visible;
            top: 2px;
            right: 18px;
            text-align: center;
            font-size: 13px;

          }
        }
      }
    }
  }



  &__bottom {
    height: 35px;

    li {
      font-size: 14px;
      float: left;
      line-height: 35px;
      height: 35px;

    }

    &--left {
      .nav{
        padding-right: 15px;
      }

      &_content{
        font-weight: bold;
        &:hover {
          color: $lightblue;
        }
        i {
          color: red;
        }
      }

      &__category {
      position: relative;
      &:hover {
        ul {
          display: block;

          ul {
            display: none;
          }
        }
      }

      &__menu {
        position: absolute;
        top: 30px;
        z-index: 2000;
      }
    }
    &__brand{
      position: relative;
      &:hover {
        ul {
          display: block;

          ul {
            display: none;
          }
        }
      }
      &__menu {
        position: absolute;
        top: 30px;
        z-index: 2000;
      }
    }
    }

    &--right {
      float: right;

      &-login{
        position: relative;
        display: inline-block;
        padding-left: 28px;
        font-size: 14px;
        text-align: center;

        a{
          text-decoration: none;
          color: $thick-gray;

          i{
            color: $form-box-border;
            font-size: 18px;
          }
        }
        img{
          overflow: hidden;
          border-radius: 50%;
        }

        &-text{
          display: inline-block;
          margin-bottom: 18px;
          font-size: 14px;
          vertical-align: middle;
        }
      }

      &-mypage{
        position: relative;
        display: inline-block;
        padding-left: 28px;
        font-size: 14px;
        text-align: center;
        color: $thick-gray;

        &-link{
          text-decoration: none;
          &:hover {
            color: $lightblue;
          }
        }

        img{
          overflow: hidden;
          border-radius: 50%;
        }

        &-text{
          display: inline-block;
          margin-bottom: 18px;
          font-size: 14px;
          vertical-align: middle;
        }

        &-box{
            position: absolute;
            top: 35px;
            z-index: 1;
            display: none;
            width: 320px;
            background: #fff;
            -webkit-box-shadow: 0 1px 1px 0 rgba(0,0,0,0.24);
            box-shadow: 0 1px 1px 0 rgba(0,0,0,0.24);
            font-size: 14px;
            right: 0px;



            &-text{
              text-align: center;
              &-user{
                padding: 28px 0 0;
                height: 80px;
                background-image: url(https://www.mercari.com/assets/img/mypage/user-bg.jpg);
                background-repeat: no-repeat;
                background-size: 320px 80px;
                &-name{
                  margin: 8px 0 0;
                  padding: 0 8px;
                  font-size: 16px;
                }
              }

              &-listing{
                margin-top: 40px;
                padding: 8px 8px 0;
                display: flex;
                justify-content: center;

                &-link{
                  margin-left: 16px;
                  font-size: 14px;
                  color: #333;
                  text-decoration: none;
                  &:hover {
                    text-decoration: underline;
                    color: #ccc;
                  }
                }
              }

              &-sales-point{
                width: 300px;
                margin: 0 auto;
                background: #fafafa;
                border: 1px solid #eee;
                &-link{
                  font-size: 14px;
                  color: #333;
                  text-decoration: none;
                  display: flex;
                  justify-content: space-between;

                  &:hover {
                    color: #ccc;
                  }

                  &-left{
                    margin-left: 6px;
                  }

                  &-right{
                    color: #333;
                    margin-right: 6px;
                    i{
                      font-size: 12px;
                      color: $form-box-border;
                    }
                  }

                }
              }

              &-lists{
                padding-top: 16px;

                &-link {
                  position: relative;
                  display: block;
                  padding-top: 14px;
                  border-top: 1px solid #eee;
                  min-height: 48px;
                  text-decoration: none;
                  font-size: 14px;
                  color: $form-box-border;
                  display: flex;
                  justify-content: space-between;

                  padding-right: 16px;
                  &:hover {
                    background-color: #fafafa;
                    color: black;
                    padding-right: 8px;
                  }

                  &-left{
                    color: #333;
                    margin-left: 6px;
                  }

                  &-right{
                    i{
                      font-size: 23px;
                    }
                  }

                }
              }
            }
          }
        }

      .signin {
        background-color: $warm-red;
        border-radius: 4px;
        margin-right: 15px;
        text-align: center;
        width: 80px;
        padding: 9px;
        text-decoration: none;
        color: $white;
      }

      .signup {
        border-radius: 4px;
        box-shadow: 0 0 0 1px $lightblue inset;
        float: left;
        text-align: center;
        width: 105px;
        text-decoration: none;
        color: $lightblue;

        &:hover {
          background-color: $lightblue;
          color: white !important;
        }
      }

    }
  }
}

.category__menu {
  &__large {
    display: none;

    li {
      width: 224px;
      background-color: white;

      a{
        text-decoration: none;
        color: black;
        text-align: left;
        padding: 0 16px;
      }

      &:hover {
        background-color: red;

        a {
          color: white;
        }

        ul {
          display: block;

          a{
            color: black;
          }

          ul {
            display: none;
          }

          li {
            &:hover {
              background-color: #ccc;
              ul {
                display: block;
              }
            }
          }
        }
      }
    }


    &__middle {
      background-color: white;
      height: 100%;
      position: absolute;
      top: 0;
      left: 224px;
      bottom: 0;
      display: none;
      font-size: 14px;
      &__small {
        background-color: white;
        position: absolute;
        top: 0;
        left: 224px;
        bottom: 0;
        display: none;
        font-size: 14px;

      }
    }
  }
}
