.l-side {
  &__list {
    width: 280px;
    &__link {
      &:hover { background-color: #eee; }
      background-color: white;
      min-height: 48px;
      line-height: 48px;
      font-family: $mercari-font;
      font-size: 14px;
      border-top: 1px solid #eee;
      position: relative;
      &__area {
        color: black;
        text-decoration: none;
        &__name {
          padding-left: 16px;
        }
        &__arrow-right {
          font-weight: bold;
          color: #DDDDDD;
          font-size: 1.5rem;
          position: absolute;
          right: 16px;
          top: 50%;
          transform: translate(0, -50%);
        }
      }
    }
  }
  .mypage-nav-head {
    font-family: $mercari-font;
    font-weight: bold;
    margin-top: 40px;
    li {
      font-weight: normal;
    }
  }
}
