.l-content {
  width: 700px;
  font-family: $mercari-font;
  &__profile {
    height: 200px;
    background-color: white;
    background-image: url('http://www.poipoi.com/yakko/cgi-bin/sb/img/work/material/2013/20130406_17.png');
    position: relative;
    &__link {
      color: black;
      text-decoration: none;
      font-size: 0.8rem;
      &__block {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        .icon {
          display: flex;
          justify-content: center;
        }
        p {
          font-weight: bold;
          text-align: center;
          margin: 8px 0;
        }
        ul {
          display: flex;
          li:last-child {
            margin-left: 16px;
          }
        }
      }
    }
  }
  &__tabs {
    input[name="tab_item"] {
      display: none;
    }
    & input:checked + &__item {
      border-top: 2px solid red;
      background-color: white;
      color: black;
    }
    &__item {
      &:hover { opacity: 0.7 }
      width: 350px;
      height: 70px;
      background-color: #d9d9d9;
      line-height: 70px;
      font-size: 16px;
      text-align: center;
      color: #565656;
      display: block;
      text-align: center;
      font-weight: bold;
      float: left;
    }
    &__content {
      display: none;
      clear: both;
      position: relative;
      .no-list {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        .icon {
          display: flex;
          justify-content: center;
        }
        p {
          color: #ccc;
          font-weight: bold;
          margin-top: 20px;
        }
      }
    }
    #news_contents {
      li {
        background-color: white;
        position: relative;
        border-bottom: 1px solid #eee;
        .variable-path {
          text-decoration: none;
          display: flex;
          padding: 16px 0 16px 16px;
          color: black;
          .icon {
            margin-right: 16px;
          }
          .nortification {
            &__content {
              font-size: 0.9rem;
            }
            &__time {
              .list-clock {
                font-size: 1.1rem;
                color: #ddd;
              }
              span {
                font-size: 0.9rem;
                color: #ddd;
              }
            }
          }
          .list-arrow-right {
            font-weight: bold;
            font-size: 1.5rem;
            position: absolute;
            right: 16px;
            top: 50%;
            transform: translate(0, -50%);
          }
          .show-list {
            background-color: #eee;
            width: 100%;
            text-align: center;
            margin-right: 16px;
            padding: 16px 0;
            font-size: 14px;
            &:hover { opacity: 0.7 }
          }
        }
      }
    }
    #todo_contents {
      background-color: white;
      height: 250px;
    }
    #news:checked ~ #news_contents,
    #todo:checked ~ #todo_contents {
      display: block;
    }
  }

  &__bottom-space {
    background-color: #eee;
    height: 72px;
    margin-top: 55px;
    font-weight: bold;
    line-height: 72px;
    padding: 0 16px;
  }

  &__bottom-tabs {
    input[name="bottom-tab_item"] {
      display: none;
    }
    & input:checked + &__item {
      border-top: 2px solid red;
      background-color: white;
      color: black;
    }
    &__item {
      &:hover { opacity: 0.7 }
      width: 350px;
      height: 70px;
      background-color: #d9d9d9;
      line-height: 70px;
      font-size: 16px;
      text-align: center;
      color: #565656;
      display: block;
      text-align: center;
      font-weight: bold;
      float: left;
    }
    &__content {
      display: none;
      clear: both;
    }
    #current-negotiation_contents {
      li {
        background-color: white;
        position: relative;
        border-bottom: 1px solid #eee;
        .variable-path {
          text-decoration: none;
          display: flex;
          padding: 16px 0 16px 16px;
          color: black;
          .icon {
            margin-right: 16px;
          }
          .nortification {
            flex-flow:column;
            justify-content:space-between;
            &__content {
              font-size: 0.9rem;
            }
            &__status {
              font-size: 0.8rem;
              background-color: red;
              color: white;
              padding: 2px 6px;
              border-radius: 2px;
            }
          }
          .list-arrow-right {
            font-weight: bold;
            font-size: 1.5rem;
            position: absolute;
            right: 16px;
            top: 50%;
            transform: translate(0, -50%);
          }
        }
      }
    }
    #past-negotiation_contents {
      li {
        background-color: white;
        position: relative;
        border-bottom: 1px solid #eee;
        .variable-path {
          text-decoration: none;
          display: flex;
          padding: 16px 0 16px 16px;
          color: black;
          .icon {
            margin-right: 16px;
          }
          .nortification {
            flex-flow:column;
            justify-content:space-between;
            &__content {
              font-size: 0.9rem;
            }
            &__status {
              font-size: 0.8rem;
              background-color: gray;
              color: white;
              padding: 2px 6px;
              border-radius: 2px;
            }
          }
          .list-arrow-right {
            font-weight: bold;
            font-size: 1.5rem;
            position: absolute;
            right: 16px;
            top: 50%;
            transform: translate(0, -50%);
          }
        }
      }
    }
    #current-negotiation:checked ~ #current-negotiation_contents,
    #past-negotiation:checked ~ #past-negotiation_contents {
      display: block;
    }
  }
  .show-list {
    background-color: #eee;
    width: 100%;
    text-align: center;
    margin-right: 16px;
    padding: 16px 0;
    font-size: 14px;
    &:hover { opacity: 0.7 }
  }
}
