.l-content-profile {
  background-color: white;
  height: 600px;
  &__profile-title {
    background-color: white;
    font-size: 24px;
    padding: 8px 0;
    text-align: center;
    border-bottom: 1px solid #eee;
  }
  &__profile-name-area {
    padding: 70px 16px 23px;
    background-image: url('http://www.poipoi.com/yakko/cgi-bin/sb/img/work/material/2013/20130406_17.png');
    display: flex;
    justify-content: center;
    &__icon {
    }
    &__name-type {
      height: 48px;
      width: 210px;
      padding-left: 8px;
      margin: 5px 0 5px 8px;
      border: 1px solid #eee;
      border-radius: 4px;
    }
  }
  &__profile__textarea {
    background-color: white;
    width: 100%;
    &__content {
      width: 600px;
      height: 220px;
      padding: 10px;
      margin: 39px 39px 16px;
    }
  }
  &__bottom-btn-area {
    margin: 0 39px;
    &__btn {
      padding: 16px 0;
      width: 100%;
      background-color: red;
      color: white;
      border: none;
      font-size: 14px;
    }
  }
}
