.container {
  color: #333;
  font-family: -apple-system, BlinkMacSystemFont, "Helvetica Neue", YuGothic, "ヒラギノ角ゴ ProN W3", Hiragino Kaku Gothic ProN, Arial, "メイリオ", Meiryo, sans-serif;


header {
  height: 90px;
  width: 100vw;
}

.header-inner {
  background-color: white;
  margin: 0 auto;
  width: 70%;

  &__top {
    height: 45px;
    padding-top: 10px;

    &--logo {
      float: left;
      height: 35px;
      width: 134px;
    }

    &--form {
      float: right;
      height: 35px;
      position: relative;
      width: calc(100% - (134px + 15px));

      .input {
        border: 1px solid #ccc;
        border-radius: 4px;
        height: 100%;
        padding: 0 8px;
        position: absolute;
        width: calc(100% - 20px);

        &__search {
          float: right;
          height: 100%;
          position: relative;
          width: 35px;
          &--btn {
            line-height: 35px;
            position: absolute;
          }
        }
      }
    }
  }



  &__bottom {
    height: 35px;

    li {
      font-size: 14px;
      float: left;
      line-height: 35px;
    }

    &--left {
      .nav{
        padding-right: 15px;
      }
    }

    &--right {
      float: right;
      .signin {
        background-color: #ea352d;
        border-radius: 4px;
        color: white;
        margin-right: 15px;
        text-align: center;
        width: 80px;
      }

      .signup {
        border-radius: 4px;
        box-shadow: 0 0 0 1px #0099e8 inset;
        color: #0099e8;
        float: left;
        text-align: center;
        width: 105px;
      }
    }
  }
}


main {
  padding-top: 10px;
}
.top-banner {
  width: 100vw;
  height: 390px;
  background-color: #d9f7ff;
}
.bxslider {
  width: 100%;
  height: 100%;
  // &__banner-new-life {
  //   background-image: url('https://item.mercari.com/jp/assets/img/featured/newlife/keyvisual_bg_item.png?82208132');
  //   background-position: center;
  //   background-size: cover;
  //   height: 100%;
  //   background-color: #ff9999;
  //   &--image {
  //     max-width: 50%;
  //     margin: 0 25%;
  //   }
  // }

  &__banner-about-mercari {
    max-width: 120%;
    overflow: hidden;
    height: 100%;
    &--image {
      margin-right: 100px;

    }
  }
}

footer {
  background-color: #212121;
  color: #fff;
  height: 800px;
  width: 100vw;
  font-size: 14px;
  padding-bottom: 40px;
}

.banner {
  width: 100vw;
  height: 250px;
  background-image: url('https://item.mercari.com/jp/assets/img/common/jp/top/download_bg_pc.jpg?82208132');
  background-position: center;

  &__inner {
    width: 53%;
    height: 100%;
    margin: 0 auto;
    position: relative;

    &--content {
      float: left;
      height: calc(100% - 40px);
      position: absolute;
      padding-top: 40px;
      h2 {
        font-size: 24px;
        font-weight: bold;
      }
      p {
        font-size: 35px;
      }
      .icon {
        width: 68px;
        height: 68px;
        margin-top: 5px;
      }
      .link {
        width: 133px;
        height: 40px;
        margin: 0 0 10px 10px;
      }
    }

    &--image {
      height: 100%;
      width: 300px;
      float: right;
    }
  }
}

.footer-content {
  width: 80%;
  height: calc(100%- 250px);
  margin: 60px auto 0;
  display: flex;

  &__links {
    float: left;
    text-align: center;
    flex: 1;

    h2 {
      font-size: 16px;
      font-weight: bold;
      margin-bottom: 20px;
    }
    li {
      line-height: 30px;
    }

    &--country {
      width: 50%;
      line-height: 50px;
      display: block;
      margin: 0 auto;
      i {
        float: left;
        text-align: center;
        margin: 17px 0;
      }
    }
  }
}

.footer-bottom {
  text-align: center;
  padding: 30px;

  &__copyright {
    font-size: 12px;
  }
}

}
