.show-items__boxes__product
  = image_tag('https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcThie6fczg9J9pWfN1Hb7Gpl5zdHML-iFPGtTXX4SVjKtNB_Pm7BA', class: 'show-items__boxes__product--img')
  .show-items__boxes__product--detail
    .name
      靴
    %p.price
      10000
    .price
    %p.tax (税込)
